@{
    ViewBag.Title = "Dashboard";
}

@if (!PBB_Web.Classes.SessionClass.IsAuthorized())
{
    Response.Redirect("~");
}

<h2>Acties</h2>

@foreach (PBB_Web.Classes.WebInfoDomain.DashboardControl dc in PBB_Web.Classes.WebInfo.GetInstance().GetDashboardControls())
{
    
    <a href="@Url.Action(dc.Action, dc.Controller)">
        <div class="col-md-2">
            <div class="panel @dc.Color">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa @dc.Icon fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-center">
                            <h4>@dc.Title</h4>
                        </div>
                    </div>
                </div>


                <div class="panel-footer">
                    <span class="pull-left" style="font-size: 8pt; color: dimgray; min-height: 30px">@dc.Description</span>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </a>
}
